<div class="home">
  <div class="pt-4 text-center">
    <p>What do you want to accomplish?</p>

    <input [(ngModel)]="searchString" class="main-input" type="text" />
    <button class="pl-4 submit-btn" (click)="submitInput()">Submit</button>
  </div>

  <section class="pt-2 text-center">
    @if (resultsHeader) {
      <p>
        You want to {{ resultsHeader }}, Here are the tasks you have to check off to complete the
        task:
      </p>
    }
    <br />

    @if (apiResponse().length > 0) {
      <div class="subtask-list">
        @for (subTask of apiResponse(); track subTask) {
          <label class="subtask-item">
            <input type="checkbox" />
            <span>{{ subTask }}</span>
          </label>
        }
      </div>
    }
  </section>
</div>
